/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  background: linear-gradient(135deg, #6a0dad, #9b30ff);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.back{
 background: purple;
 color: white;
 height: 40px;
 width: 250px;
 border-radius: 9px;
}

/* Main container */
#startScreen,
#examScreen,
#resultScreen {
  width: 800px;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  text-align: center;
}

/* Start Screen */
#startScreen h1 {
  color: purple;
  font-size: 40px;
  margin-bottom: 20px;
}

#studentName,
#subjectSelect {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

#studentName:focus,
#subjectSelect:focus {
  border-color: purple;
}

#startScreen button {
  width: 100%;
  padding: 12px;
  background: purple;
  color: #fff;
  border: none;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

#startScreen button:hover {
  background: #6a0dad;
}

/* Top Bar */
.top-bar {
  display: flex;
  justify-content: flex-end;
  background: purple;
  color: #fff;
  padding: 12px 20px;
  border-radius: 6px;
  margin-bottom: 20px;
}

#timer {
  font-weight: bold;
}

/* Question area */
#questionContainer h2 {
  font-size: 20px;
  margin-bottom: 15px;
  text-align: left;
}

#questionContainer button {
  display: block;
  width: 100%;
  text-align: left;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  border: 1px solid #ddd;
  background: #f9f9f9;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
}

#questionContainer button:hover {
  background: #f0e6ff;
  border-color: purple;
}

/* Navigation buttons */
.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.buttons button {
  padding: 12px 20px;
  border: none;
  background: purple;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 14px;
}

.buttons button:hover {
  background: #6a0dad;
}

/* Result Screen */
#resultScreen h2 {
  color: purple;
  font-size: 22px;
}

/* Timer flash animation */
@keyframes blink {
  0% {
    opacity: 1;
  }
  
  50% {
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
}

.flash {
  animation: blink 1s infinite;
}

/* Responsive */
@media(max-width: 850px) {

  #startScreen,
  #examScreen,
  #resultScreen {
    width: 95%;
    padding: 20px;
  }
}